<div class="container-fluid headerTop">
  <div>
    <h2>Climate Adaptation Science Centers (CASC)</h2>
  </div>
</div>
<div class="container-fluid brandContainer">
  <div class="media">
    <img alt="" src="/assets/images/cpe.png" />
    <div class="media-body">
      <h1>CASC Project Explorer</h1>
      <h2>Discover regional and national climate science</h2>
    </div>
  </div>
</div>

<div class="container-alert">
  <div class="alert alert-warning" role="alert">
    <p>
      CASC Project Explorer is experiencing lengthy load times, please
      <a
        href="https://www.usgs.gov/programs/climate-adaptation-science-centers/science"
        >go here</a
      >
      for more project details.
    </p>
  </div>
</div>
