<footer>
  <div class="footer-intro container-fluid footer-container">
    <h4>About the Climate Adaptation Science Centers</h4>
    <p>
      The Climate Adaptation Science Centers (CASCs) deliver science to help
      fish, wildlife, water, land, and people adapt to a changing climate. The
      CASCs fund projects generating research, data sets, and tools to help
      natural and cultural resource managers protect natural places & local
      communities in a changing climate. The CASC network is comprised of the
      National CASC and nine regional CASCs, covering the continental U.S.,
      Alaska, Hawai&#x2BB;i, the U.S. Affiliated Pacific Islands, and the U.S.
      Caribbean.
    </p>
  </div>
  <div class="colored d-none d-xl-block">
    <div class="logo-block container-fluid footer-container">
      <div class="row logos d-flex flex-wrap align-items-center">
        <div class="col">
          <img src="assets/images/usgs-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/akcasc-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/mwcasc-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/nccasc-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/necasc-200.png" />
        </div>
      </div>
      <div class="row logos d-flex flex-wrap align-items-center">
        <div class="col">
          <img src="assets/images/nwcasc-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/picasc-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/sscasc-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/secasc-200.png" />
        </div>
        <div class="col">
          <img src="assets/images/swcasc-200.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-dark">
    <div class="container">
      <a href="https://www.usgs.gov/programs/climate-adaptation-science-centers"
        >Learn more about the CASCs</a
      >
      <a href="mailto:casc@usgs.gov">Contact Us</a>
      <a href="https://twitter.com/usgs_climate?ref_src=twsrc%5Etfw"
        ><img class="social-media-icon" src="assets/images/twitter.png"
      /></a>
      <a href="https://www.instagram.com/usgs_climate/"
        ><img class="social-media-icon" src="assets/images/instagram.png"
      /></a>
    </div>
  </div>
</footer>
