<footer>
  <div class="container-fluid footer-container">
    <div class="row logos">
      <div class="col">
        <img src="assets/images/ak_casc_logo.png" />
      </div>
      <div class="col">
        <img src="assets/images/mw_casc_logo.png" />
      </div>
      <div class="col">
        <img src="assets/images/usgs_logo_green.svg" />
      </div>
      <div class="col">
        <img src="assets/images/nc_casc_logo.png" />
      </div>
      <div class="col">
        <img src="assets/images/ne_casc_logo.png" />
      </div>
    </div>
    <div class="row logos">
      <div class="col">
        <img src="assets/images/nw_casc_logo.png" />
      </div>
      <div class="col">
        <img src="assets/images/pi_casc_logo.png" />
      </div>
      <div class="col">
        <img src="assets/images/sc_casc_logo.png" />
      </div>
      <div class="col">
        <img src="assets/images/se_casc_logo.png" />
      </div>
      <div class="col">
        <img src="assets/images/sw_casc_logo.png" />
      </div>
    </div>
  </div>
  <div class="colored">
    <div class="container-fluid footer-container">
      <h4>About the Climate Adaptation Science Centers</h4>
      <p>The USGS National and Regional Climate Adaptation Science Centers (CASCs) is a partnership-driver program that teams
      scientists with resource managers and local communities. We work within this partnership to help fish, wildlife, waters,
      and lands across the country adapt to changing conditions.</p>
      <h4>Funding applicable science &amp; educating the next generation</h4>
      <p>
        The CASCs fund projects generating research, data sets, and tools to help natural and cultural resource managers protect
        natural places &amp; local communities in a changing climate. The CASC network supports students and early-career scientists 
        and managers through a variety of fellowship and training programs.
      </p>
    </div>
    <div class="container">
      <a
        href="https://www.usgs.gov/programs/climate-adaptation-science-centers"
        >Learn more about the CASCs</a
      >
      <a href="mailto:casc@usgs.gov">Contact Us</a>
    </div>
  </div>
</footer>
