footer {
  background-color: rgb(255, 255, 255);
  .colored {
    background-color: rgb(0, 38, 76);
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;

    h4 {
      color: rgba(255, 255, 255, 0.78);
    }

    p {
      color: rgba(255, 255, 255, 0.538);
    }
  }
  a {
    display: inline-block;
    margin-right: 2rem;
    color: #48caf7 !important;
  }

  .footer-container {
    width: 90%;
  }

  .logos {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  img {
    display: block;
    height: 8rem;
    min-width: 150px;
    max-width: 225px;
    margin: 0 auto;
  }

  .social-media-icon {
    height: 2rem;
    width: 2rem;
  }
}
