<footer>
  <div class="colored">
    <div class="container-fluid footer-container">
      <div class="row logos">
        <div class="col">
          <img src="assets/images/usgs_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/ak_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/mw_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/nc_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/ne_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/nw_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/pi_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/sc_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/se_casc_logo.svg" />
        </div>
        <div class="col">
          <img src="assets/images/sw_casc_logo.svg" />
        </div>
      </div>
    </div>
    <div class="container-fluid footer-container">
      <h4>About the Climate Adaptation Science Centers</h4>
      <p>
        The Climate Adaptation Science Centers (CASCs) deliver science to 
        help fish, wildlife, water, land, and people adapt to a changing 
        climate. The CASCs fund projects generating research, data sets, 
        and tools to help natural and cultural resource managers protect 
        natural places & local communities in a changing climate. The CASC 
        network is comprised of the National CASC and nine regional CASCs, 
        covering the continental U.S., Alaska, Hawai'i, the U.S. Affiliated 
        Pacific Islands, and the U.S. Caribbean. 
        <a href="https://www.usgs.gov/programs/climate-adaptation-science-centers" target="_blank">Learn more about the CASCs</a>.
      </p>
      <h4>Funding applicable science &amp; educating the next generation</h4>
      <p>
        The CASCs fund projects generating research, data sets, and tools to
        help natural and cultural resource managers protect natural places &amp;
        local communities in a changing climate. The CASC network supports
        students and early-career scientists and managers through a variety of
        fellowship and training programs.
      </p>
    </div>
    <div class="container">
      <a href="https://www.usgs.gov/programs/climate-adaptation-science-centers"
        >Learn more about the CASCs</a
      >
      <a href="mailto:casc@usgs.gov">Contact Us</a>
      <a href="https://twitter.com/usgs_climate?ref_src=twsrc%5Etfw"
        ><img class="social-media-icon" src="assets/images/twitter.png"
      /></a>
      <a href="https://www.instagram.com/usgs_climate/"
        ><img class="social-media-icon" src="assets/images/instagram.png"
      /></a>
    </div>
  </div>
</footer>
