footer {
  margin-top: 4rem;
  border-top: 1px solid #888;
  padding-top: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 0 #888 inset;

  .footer-intro {
    margin-bottom: 4rem;
  }

  .footer-dark {
    background-color: rgb(0, 38, 76);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

    h4,
    p {
      color: white;
    }
  }
  a {
    display: inline-block;
    margin-right: 2rem;
    color: #48caf7 !important;
  }

  .footer-container {
    width: 90%;
  }

  .logo-block {
    margin-bottom: 4rem;
    
    .logos {
      img {
        display: block;
        width: 185px;
        margin: 0 auto 1rem;
      }
    }
  }

  .social-media-icon {
    height: 2rem;
    width: 2rem;
  }
}
