.loading {
  img {
    display: inline-block;
    height: 2rem;
    padding-right: 1rem;
    vertical-align: middle;
    position: relative;
    bottom: 0.2rem;
  }
}

// This is so that the last item in the list doesn't have extra padding
td.mat-mdc-cell ul li:not(:last-child) {
  padding-bottom: 0.5rem;
}
