.loading {
  img {
    display: inline-block;
    height: 2rem;
    padding-right: 1rem;
    vertical-align: middle;
    position: relative;
    bottom: 0.2rem;
  }
}

ul {
  list-style-type: none;
}
