<div class="container-fluid">
  <app-breadcrumb></app-breadcrumb>
  <div class="table-title">
    <h2>Topic: {{ page_title }}</h2>
    <div>
      Switch to
      <select [(ngModel)]="selectedTopic" (change)="onTopicChange($event)">
        <option default disabled value="">a different topic</option>
        <option *ngFor="let key of filtered_topic_keys" [value]="key">
          {{ topic_names[key] }}
        </option>
      </select>
    </div>
  </div>
  <div class="row topic">
    <div class="col-md-2">
      <div class="select-box">
        <h3 class="select-title">CASC</h3>
        <div *ngFor="let csc of cscs">
          <mat-checkbox
            type="checkbox"
            (change)="changeCurrentCASC($event)"
            [checked]="current_csc.indexOf(csc) !== -1"
            [value]="csc"
            [id]="csc"
            name="csc"
          >
            {{ csc.replace(" CASC", "") }}</mat-checkbox
          >
        </div>
      </div>
      <div class="select-box">
        <h3 class="select-title">Subtopic</h3>
        <div *ngFor="let subtopic of subtopics">
          <mat-checkbox
            type="checkbox"
            (change)="changeCurrentSubTopic($event)"
            [checked]="current_subtopic.indexOf(subtopic) !== -1"
            [value]="subtopic"
            [id]="subtopic"
            name="subtopic"
          >
            {{ subtopic }}</mat-checkbox
          >
        </div>
      </div>
      <div class="select-box">
        <h3 class="select-title">Status</h3>
        <div *ngFor="let status of statuses">
          <mat-checkbox
            type="checkbox"
            (change)="changeCurrentStatus($event)"
            [checked]="current_status.indexOf(status) !== -1"
            [value]="status"
            [id]="status"
            name="status"
          >
            {{ status }}</mat-checkbox
          >
        </div>
      </div>
      <div class="select-box">
        <h3 class="select-title">Year</h3>
        <div *ngFor="let fy of fiscal_years">
          <mat-checkbox
            type="checkbox"
            (change)="changeCurrentYear($event)"
            [checked]="current_fy.indexOf(fy) !== -1"
            [value]="fy"
            [id]="fy"
            name="fy"
          >
            {{ fy }}</mat-checkbox
          >
        </div>
      </div>
    </div>

    <div class="col-md-10 results-table">
      <!-- These need to still 
           appear when we have no results shown so that we can remove the text in
           the search bar to update the results.
      -->
      <div class="row pb-3">
        <div class="col-8">
          <p *ngIf="!dataLoading && dataSource.filteredData.length > 0">
            Showing {{ dataSource.filteredData.length }} matching projects.
          </p>
        </div>
        <div class="col-4">
          <div *ngIf="!dataLoading" class="search-bar-div inline">
            <div class="search-bar-wrapper">
              <input
                class="form-control search-bar"
                type="text"
                placeholder="Filter by term"
                [(ngModel)]="searchTerm"
                (input)="applyFilter()"
              />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="dataLoading">
        <h4 class="loading">
          <img
            src="{{ approot }}assets/loading.gif"
            class="loading"
            alt="Loading Results"
            title="Loading Results"
          />Loading {{ topic_names[topic] }} ScienceBase projects&hellip;
        </h4>
      </div>

      <div
        class="no_data"
        *ngIf="!dataLoading && dataSource.filteredData.length === 0"
      >
        <h4 class="no_data">
          No projects match all the search filters selected.
        </h4>
        <p>Remove one or more filters to see matching projects.</p>
      </div>

      <div *ngIf="!dataLoading && dataSource.filteredData.length > 0">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="onSortChange($event)"
          class="mat-elevation-z8 d-none d-lg-block"
        >
          <!-- Column Definitions -->
          <ng-container matColumnDef="fiscal_year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
            <td mat-cell *matCellDef="let project">
              {{ project.fiscal_year }}
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="title">
              Title
            </th>
            <td mat-cell *matCellDef="let project" class="title">
              <a [routerLink]="['/project/', project.csc.id, project.id]">{{
                project.title
              }}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="csc_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CASC</th>
            <td mat-cell *matCellDef="let project">
              {{ project.csc_name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="subtopics_formatted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Subtopic(s)
            </th>
            <td
              mat-cell
              *matCellDef="let project"
              [innerHTML]="project.subtopics_formatted"
            ></td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let project">
              {{ project.status }}
            </td>
          </ng-container>

          <!-- Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <!-- Mobile -->
    <div class="d-lg-none col-xs-10">
      <div class="card" *ngFor="let project of filteredProjectsList">
        <!--Card content-->
        <div class="card-block mobile">
          <!--Title-->
          <h4 class="card-title">
            <a [routerLink]="['/project/', project.csc['id'], project.id]">
              {{ project["title"] }}
            </a>
            <ul *ngIf="project.children?.length > 0">
              <li *ngFor="let childProject of project.children">
                <span *ngIf="project.types.includes('Project')">
                  <a
                    [routerLink]="['/project/', project.csc['id'], project.id]"
                  >
                    {{ project["title"] }}
                  </a>
                </span>
                <span *ngIf="!project.types.includes('Project')">
                  <a [routerLink]="['/component/', project.id]">
                    {{ project["title"] }}
                  </a>
                </span>
              </li>
            </ul>
          </h4>
          <!--Project Year-->
          <div class="card-text">
            <b>Funding Year: </b>
            <span *ngIf="project['fiscal_year']">
              {{ project.fiscal_year }}
            </span>
            <span *ngIf="!project.fiscal_year"> N/A </span>
          </div>

          <!--CSC-->
          <div class="card-text">
            <b>CASC: </b>
            <span> {{ project.csc.name }} </span>
          </div>

          <!--Subtopic(s)-->
          <div class="card-text">
            <b>Subtopic(s):</b>

            <ul *ngFor="let st of project.subtopics">
              <li *ngIf="isOnTopic(st)">
                {{ st }}
              </li>
            </ul>

            <span *ngIf="!project.subtopics"> N/A </span>
          </div>

          <!--Status-->
          <div class="card-text">
            <b>Status: </b>
            <span *ngIf="project.status">
              <span>{{ project.status }}</span>
            </span>
            <span *ngIf="!project.status">
              <span>N/A</span>
            </span>
          </div>
        </div>
        <!--/.Card content-->
      </div>
    </div>
  </div>
</div>
