label {
  padding-left: 0.25rem;
}

.select-box input[type="checkbox"] {
  position: relative;
  bottom: 1px;
}

.loading {
  img {
    display: inline-block;
    height: 2rem;
    padding-right: 1rem;
    vertical-align: middle;
    position: relative;
    bottom: 0.2rem;
  }
}
