h2 {
  margin: 1.5rem 0.75rem 3rem;
}

.select-box {
  .mat-mdc-checkbox {
    display: flex;
    align-items: center;
    margin: 0 0 0.2rem;
    font-size: 1rem !important;
    text-indent: -1.1rem;
    padding-left: 1.1rem;

    .mat-checkbox-layout {
      width: auto; // Ensures the width adjusts to the content
    }

    .mat-checkbox-label {
      padding-left: 1.1rem; // Add the padding to the label
    }
  }
}

.mat-mdc-table .mat-mdc-row .mat-mdc-cell {
  overflow: visible;
  font-size: 1rem;
  font-family: Lora, serif;
  font-weight: 400;
  padding: 0.5em 1em;
  line-height: 1.25;
  vertical-align: top;
}

.mat-mdc-table .mat-mdc-header-row .mat-mdc-header-cell {
  font-size: 1rem;
  font-family: Lora, serif;
  color: #0d66c4;
  font-weight: 700;
}

.mat-mdc-header-row {
  height: 40px !important;
}

.mat-mdc-header-row th:nth-of-type(3) .mat-sort-header-content {
  border: 1px solid red;
  min-width: 13rem;
}

.mat-sort-header-container .mat-sort-header-content {
  text-align: left;
}

td.mat-mdc-cell {
  font-weight: 500 !important;
}

td.mat-mdc-cell ul {
  margin-left: -2.2rem;
}

.title {
  width: 50%;
}

.mat-mdc-table .mat-mdc-row:nth-of-type(odd),
.mat-mdc-table .mat-mdc-row:nth-of-type(odd):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

:host::ng-deep table {
  thead {
    border-bottom: 1px solid #eee;
    a.sort.asc::after {
      border-width: 6px !important;
      border-bottom-color: #888;
    }
    a.sort.desc::after {
      border-width: 6px !important;
      border-bottom-color: #888;
    }
  }
  tr {
    th {
      text-align: left;
      vertical-align: bottom !important;
      padding-top: 0;
      margin-top: 0;
      &.title {
        text-align: center;
      }
    }
    th,
    td {
      line-height: 1.25;
      font-size: 1rem !important;
      border-top: none;

      ul {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

.card {
  margin-bottom: 1rem;
  padding: 1rem;

  ul {
    margin: 0;
    padding-left: 1rem;
  }

  h4.card-title {
    font-size: 1.25rem;
  }
}
