h2 {
  margin: 1.5rem 0.75rem 3rem;
}

.select-box {
  .mat-mdc-checkbox {
    display: flex;
    align-items: center;
    margin: 0 0 0.2rem;
    font-size: 1rem !important;
    text-indent: -1.1rem;
    padding-left: 1.1rem;

    .mat-checkbox-layout {
      width: auto; // Ensures the width adjusts to the content
    }

    .mat-checkbox-label {
      padding-left: 1.1rem; // Add the padding to the label
    }
  }
}

.mat-mdc-table .mat-mdc-row .mat-mdc-cell {
  overflow: visible;
  font-size: 1rem;
  font-family: Lora, serif;
  font-weight: 400;
  padding: 0.5em 1em;
  line-height: 1.25;
  vertical-align: top;
}

.mat-mdc-table .mat-mdc-header-row .mat-mdc-header-cell {
  font-size: 1rem;
  font-family: Lora, serif;
  color: #0d66c4;
  font-weight: 700;
}

.mat-mdc-header-row {
  height: 40px !important;
}

.mat-mdc-header-row th:nth-of-type(3) .mat-sort-header-content {
  min-width: 11.5rem;
}

.mat-sort-header-container .mat-sort-header-content {
  text-align: left;
}

td.mat-mdc-cell {
  font-weight: 500 !important;
}

td.mat-mdc-cell ul {
  margin-left: -2.2rem;
}

.title {
  width: 50%;
}

.mat-mdc-table .mat-mdc-row:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.card {
  margin-bottom: 1rem;
  padding: 1rem;

  ul {
    margin: 0;
    padding-left: 1rem;
  }

  h4.card-title {
    font-size: 1.25rem;
  }
}
