.search-group {
  padding: 1.5em 1.5em;

  p {
    margin-bottom: 0;
  }

  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eaebec;
    margin-bottom: 1.5rem;
  }

  .casc-map {
    width: 100%;
    max-height: 800px;
  }

  .topics-wrapper {
    margin-top: 1rem;
  }

  .topics {
    line-height: 1.2;
    margin-bottom: 1rem;
    a {
      font-size: 1.3rem;
      width: 100%;
      display: block;
    }
  }

  .regions {
    line-height: 1.2;
    a {
      font-size: 1.3rem;
      width: 100%;
      display: block;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 860px) {
  .large-screen {
    display: none;
  }
}
@media screen and (min-width: 861px) {
  .small-screen {
    display: none;
  }
}