.project {
  min-height: 75vh;

  .body {
    line-height: 1.65;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .information-sidebar {
    margin: 2rem 0 2rem;
    background-color: #dae9f6;
    padding: 1rem;
  }

  .related-publications {
    .pubTitle {
      font-size: 1rem;
      font-weight: 700;
    }
    ul {
      padding-left: 0;
      list-style-type: none;

      ul {
        padding-left: 2rem;
      }
    }
  }

  .media-cards {
    margin-bottom: 2rem;

    .card {
      width: 30%;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;
      vertical-align: top;
      a:hover {
        cursor: pointer;
      }
    }
  }

  .sb-link {
    margin: 2rem 0;
  }
}

.modal-image {
  width: 100%;
}

.last-updated {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 1rem;
}
