<div class="warning-container">
  <div class="warning-message">
    <h1>CASC Project Explorer Website Temporarily Unavailable</h1>
    <div class="message-content">
      <p>
        The website is down for the holidays. Changes to the backend API
        required that the site be inaccessible until a fix could be implemented.
      </p>
      <p>
        If you have any questions, please contact
        <a href="mailto:uaf-snap-sys-team&#64;alaska.edu"
          >uaf-snap-sys-team&#64;alaska.edu</a
        >
        for additional information.
      </p>
    </div>
  </div>
</div>
