<div class="warning-container">
  <div class="warning-message">
    <h1>Site unavailable due to maintenance</h1>
    <div class="message-content">
      <p>
        CASC Project Explorer is currently offline for maintinance. It is
        expected to be fully operational in early January, 2026.
      </p>
      <p>
        Please
        <a
          href="https://www.usgs.gov/programs/climate-adaptation-science-centers/science"
          >go here</a
        >
        for more project details.
      </p>
    </div>
  </div>
</div>
